/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    /* --cover-image: url(/images/background_light.png); */
    --background-color: rgba(255, 255, 255, 1);
    --text-color: rgba(0, 0, 0, 1);
    --currentColor: var(var(--text-color));
    --transparent-text-color: rgb(0 0 0 / 0.6);
    --heart-color: rgba(255, 0, 0, 1);
    --gradient-color-start: rgba(231, 231, 231, 1);
    --gradient-color-end: rgba(26, 26, 26, 1);
    --main-font-weight: 400;
    --accent-font-weight: 700;
}