/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

.page {
    --cover-image: url(/images/background.png);
    --background-color: rgba(0, 0, 0, 1);
    --text-color: rgba(0, 204, 20, 1);
}